.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
}

.search-bar input,
.search-bar button {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-ctr {
  display: flex;
  justify-content: center;
  gap: 10px;

  background-color: #fff;
}

.event-btn {
  width: 100px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: orange;
  color: #fff;
}
